body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.container {
    width: 500px;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.15);
}

h1 {
    text-align: center;
}

button {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;

    border: none;
    border-radius: 8px;

    background: #0078ff;
    color: white;
    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}

button:hover {
    background: #005fd1;
}

#ft_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo {
    background: #e9f2ff;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    word-break: break-word;
}

.todo:hover {
    background: #d7e8ff;
}